@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poiret+One&display=swap');


:root {
    --cor0: #0D0D0D;
    --cor1: #CFC4B1;
    --cor2: #565902;
    --cor3: #686228;
    --cor4: #4D4D59;

    --fonte-padrao: "Poiret One", sans-serif;
    --fonte-segundaria: "Karla", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}



@media (max-width: 750px) {
    html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: var(--cor1);
    padding-inline: 16px;
    
}

.nav {
    max-width: 1280px;
    height: 120px;
    margin-inline: auto;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    margin: 0px 0px 0px 97px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    z-index: 9;
}

.nav-list a {
    font-size: 18px;
    color: var(--cor0);
    padding-block: 4px;
    line-height: 1.2;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--cor0);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--cor0);
    margin-top: 5px;
    position: relative;
    transition: 0.3s
}

main h1 {
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 20px;
}

.info {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}

.info h2 {
    font-family: var(--fonte-padrao);
    font-size: 28px;
    color: #111;
    font-weight: 800;
    margin-bottom: 16px;
}

.info p {
    font-family: var(--fonte-segundaria);
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.galeria-container {
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.texto-estudio {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 0 20px;
}

.texto-estudio h2 {
    font-family: var(--fonte-padrao);
    font-weight: 800;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.3;
}

.texto-estudio p {
    font-family: var(--fonte-segundaria);
    color: var(--cor4);
    line-height: 1.6;
    text-align: left;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor1);
    color: var(--cor4);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#scrollTopBtn:hover {
    transform: scale(1.1);
    background-color: var(--cor1);
    color: var(--cor3);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.5s ease;
    
}

.contato .intro {
  font-family: var(--fonte-segundaria);
  color: var(--cor4);
  margin-bottom: 30px;
}

.contato-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.info-item .icon {
  width: 28px;
  height: 28px;
  stroke: var(--cor0);
  stroke-width: 1.5;
}

.info-item h3 {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--cor0);
}

.info-item p {
  font-family: var(--fonte-segundaria);
  color: var(--cor4);
  font-size: 15px;
}

#telefone {
    margin-bottom: 50px;
 }

 .sobre-video video {
  width: 100%;
  margin: 20px 0px 0px 0px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.footer-container {
    background-color: var(--cor1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    color: black;
}

.footer-links a {
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-social a {
    color: var(--cor0);
    font-weight: bold;
}

.footer-info {
    color: var(--cor0);
    font-family: var(--fonte-segundaria);
    font-weight: 200;
    text-align: center;
}
 


    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--cor1);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: center;
        gap: 120px; 
        align-items: center;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.5s 1s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
        z-index: 10;
        
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}