@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poiret+One&display=swap');


:root {
    --cor0: #0D0D0D;
    --cor1: #CFC4B1;
    --cor2: #565902;
    --cor3: #686228;
    --cor4: #4D4D59;

    --fonte-padrao: "Poiret One", sans-serif;
    --fonte-segundaria: "Karla", sans-serif;
}

    /* Typical Device Breakpoints
    ---------------------------------
    Pequenas telas: até 600px
    Celular: 600px a 768px
    Tablets: 768px a 992px
    Desktops: 992px a 1200px
    Grandes telas: 1200px ou mais
    ---------------------------------
    */

    @media screen and (min-width: 768px) and (max-width: 992px) {
        html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* ocupa todo o espaço disponível */
}
a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: var(--cor1);
    height: 70px;
    padding: 12px 16px;
    text-align: center;
}

.hamburger {
    display: none;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    margin: 0px 0px 0px 97px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    z-index: 9;
}

.nav-list a {
    font-size: 18px;
    color: var(--cor0);
    padding-block: 4px;
    line-height: 1.2;
}

.breadcrumb {
    font-family: var(--fonte-secundaria, Arial, sans-serif);
    font-size: 0.95rem;
    color: #555;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.breadcrumb a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #000;
}

main h1 {
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 20px;
}

.info {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}

.info-h1 { 
    font-family: var(--fonte-padrao);
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.info h2 {
    font-family: var(--fonte-padrao);
    font-size: 28px;
    color: #111;
    font-weight: 800;
    margin-bottom: 16px;
}

.info p {
    font-family: var(--fonte-segundaria);
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.galeria-container {
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.galeria-container img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.texto-estudio {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 0 20px;
}

.texto-estudio h2 {
    font-family: var(--fonte-padrao);
    font-weight: 800;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.3;
}

.texto-estudio p {
    font-family: var(--fonte-segundaria);
    color: var(--cor4);
    line-height: 1.6;
    text-align: left;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor1);
    color: var(--cor4);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#scrollTopBtn:hover {
    transform: scale(1.1);
    background-color: var(--cor1);
    color: var(--cor3);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.5s ease;
    
}

    .contato {
        width: 400px;
        margin: 100px auto 100px auto;
        padding: 30px;
        border-radius: 20px;
        border: solid 2px var(--cor2);
        font-family: var(--fonte-segundaria);
        color: var(--cor4);
    }

.contato-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  text-align: left;
  margin: 0px 0px 0px 20px;
}

.info-item .icon {
  width: 28px;
  height: 28px;
  stroke: var(--cor0);
  stroke-width: 1.5;
}

.info-item h3 {
    font-family: var(--fonte-padrao);
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--cor0);
 }

.info-item p {
    font-family: var(--fonte-segundaria);
    color: var(--cor4);
    font-size: 20px;
 }

.contato-h1 {
    font-family: var(--fonte-padrao);
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

 .info p {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
    padding: 0 5px;
 }

 .sobre-video {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    margin-top: 20px;        /* espaço acima */
}

.sobre-video video {
    width: 700px;
    margin: 20px 0px 0px 0px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}

.texto-estudio h2 {
    font-size: 35px;
    text-align: center;
}

.texto-estudio p {
    font-size: 25px;
    text-align: center;
}

.footer-container {
    background-color: var(--cor1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    color: black;
}

.footer-links a {
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-social a {
    color: var(--cor0);
    font-weight: bold;
}

.footer-info {
    color: var(--cor0);
    font-family: var(--fonte-segundaria);
    font-weight: 200;
    text-align: center;
}

    }

/* Estilos para desktops e telas maiores */

    @media screen and (min-width: 992px)  {
        
        html {
    scroll-behavior: smooth;
    }

    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1; /* ocupa todo o espaço disponível */
    }
    a {
        font-family: sans-serif;
        text-decoration: none;
    }

    .header {
        background: var(--cor1);
        height: 90px; /* altura total */
        align-items: center;
        padding: 0 16px; /* só espaço lateral */
    }

    .hamburger {
        display: none;
    }

    .nav {
        max-width: 1280px;
        height: 90px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 150px;
        margin: 0px 0px 0px 97px;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        list-style-type: none;
        z-index: 9;
    }

    .nav-list a {
        font-size: 18px;
        color: var(--cor0);
        padding-block: 4px;
        line-height: 1.2;
    }

    main h1 {
        font-family: var(--fonte-padrao);
        text-align: center;
        padding: 20px;
    }

    .breadcrumb {
        font-family: var(--fonte-secundaria, Arial, sans-serif);
        font-size: 0.95rem;
        color: #555;
        margin: 0 auto 40px auto;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        width: 100%;
        max-width: 1200px;
        text-align: center;
    }

    .breadcrumb a {
        color: #555;
        text-decoration: none;
        transition: color 0.3s ease;
        }

    .breadcrumb a:hover {
        color: #000;
    }

    .info {
        align-items: center;
        gap: 60px;
        text-align: center;
        max-width: 1200px;
        width: 100%;
        margin: 50px auto;
        padding: 0 20px;
    }

    .info-h1 { 
        font-family: var(--fonte-padrao);
        font-size: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .info h2 {
        font-family: var(--fonte-padrao);
        font-size: 28px;
        color: #111;
        font-weight: 800;
        margin-bottom: 16px;
    }

    .sobre-video {
        width: 100%;
        max-width: 1200px;
        border-radius: 12px;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .info p {
        flex: 1;
        font-family: var(--fonte-segundaria);
        color: #555;
        font-size: 1.1rem;
        line-height: 1.7;
    }


    .galeria-container {
        padding: 15px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .galeria-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .texto-estudio {
        max-width: 800px;
        margin: 40px auto;
        text-align: center;
        padding: 0 20px;
    }

    .texto-estudio h2 {
        font-family: var(--fonte-padrao);
        font-weight: 800;
        text-align: left;
        margin-bottom: 15px;
        line-height: 1.3;
    }

    .texto-estudio p {
        font-family: var(--fonte-segundaria);
        color: var(--cor4);
        line-height: 1.6;
        text-align: left;
    }

    #scrollTopBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--cor1);
        color: var(--cor4);
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 24px;
        cursor: pointer;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 1000;
        transition: transform 0.3s ease;
    }

    #scrollTopBtn:hover {
        transform: scale(1.1);
        background-color: var(--cor1);
        color: var(--cor3);
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.5s ease;
        
    }

    .contato {
        width: 400px;
        margin: 100px auto 100px auto;
        padding: 30px;
        border-radius: 20px;
        border: solid 2px var(--cor2);
        font-family: var(--fonte-segundaria);
        color: var(--cor4);
    }

    .contato:hover {
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease;
    }

    .contato-h1 {
        font-family: var(--fonte-padrao);
        font-size: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .contato-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .info-item {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        text-align: left;
        margin: 0px 0px 0px 20px;
    }

    .info-item .icon {
        width: 28px;
        height: 28px;
        stroke: var(--cor0);
        stroke-width: 1.5;
    }

    .info-item h3 {
        font-family: var(--fonte-padrao);
        font-size: 25px;
        margin-bottom: 5px;
        color: var(--cor0);
    }

    .info-item p {
        font-family: var(--fonte-segundaria);
        color: var(--cor4);
        font-size: 18px;
    }

    .sobre-video video {
        width: 100%;
        margin: 20px 0px 0px 0px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }

    .estudio-h1 {
        font-family: var(--fonte-padrao);
        font-size: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .info {
        max-width: 800px;
        margin: 0 auto 60px auto;
    }

    .info h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .info p {
        color: #555;
        font-size: 1rem;
        line-height: 1.6;
    }

    .galeria-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
        justify-items: center;
        margin-bottom: 60px;
    }

    .galeria-container img {
        width: 100%;
        max-width: 400px;
        border-radius: 12px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .galeria-container img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .texto-estudio {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        border-top: 1px solid #ddd;
    }

    .texto-estudio h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        text-align: center;
    }

    .texto-estudio p {
        font-size: 1rem;
        text-align: center;
        color: #555;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    .artes-autorais {
        
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px 60px 20px;
        text-align: center;
    }
    
    .artes-autorais h1 {
        font-family: var(--fonte-padrao);
        font-size: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .artes-autorais .descricao {
        font-family: var(--fonte-segundaria);
        color: #555;
        font-size: 1rem;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto 60px auto;
    }

    .galeria-artes {
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 30px;
    }

    .arte-card {
        background: var(--cor0);
        border: 1px solid var(--cor1);
        border-radius: 15px;
        padding: 15px;
        position: relative;
        width: 100%;
        max-width: 300px;
        transition: transform 0.3s ease;
    }

    .arte-card:hover {
        transform: scale(1.03);
    }

    .arte-card img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .arte-card h3 {
        color: var(--cor1);
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .arte-card .preco {
        color: var(--cor3);
        font-weight: bold;
        margin-bottom: 10px;
    }

    .precos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #888;
        font-size: 0.9rem;
    }

    .preco-novo {
        color: var(--cor1);
        font-weight: bold;
        font-size: 1.2rem;
    }

    .btn-reservar {
        background: var(--cor1);
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.3s;
    }

    .btn-reservar:hover {
        background: var(--cor2);
    }

    .selo-desconto {
        position: absolute;
        top: 10px;
        right: -6px;
        background: #ff1e1e;
        color: white;
        padding: 5px 12px;
        font-size: 13px;
        font-weight: bold;
        border-radius: 5px 0 0 5px;
        transform: rotate(8deg);
        box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    }

    .footer-container {
        background-color: var(--cor1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
        color: black;
    }

    .footer-links a {
        color: var(--cor0);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    .footer-social a {
        color: var(--cor0);
        font-weight: bold;
    }

    .footer-info {
        color: var(--cor0);
        font-family: var(--fonte-segundaria);
        font-weight: 200;
        text-align: center;
    }

}