@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poiret+One&display=swap');


:root {
    --cor0: #0D0D0D;
    --cor1: #CFC4B1;
    --cor2: #565902;
    --cor3: #686228;
    --cor4: #4D4D59;

    --fonte-padrao: "Poiret One", sans-serif;
    --fonte-segundaria: "Karla", sans-serif;
}


    /* ===== ESTILO PADRÃO (Mobile First) ===== */

    /* Reset básico */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body {
        background-color: black;
        height: 100%;
    }

    a {
        font-family: sans-serif;
        text-decoration: none;
    }

    /* Header */
    .header {
    background: var(--cor1);
    padding: 12px 16px;
    text-align: center;
    }
    .hamburger {
        display: none;
    }

    .nav {
        max-width: 1280px;
        height: 120px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 150px;
        margin: 0px 0px 0px 97px;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        list-style-type: none;
        z-index: 9;
    }

    .nav-list a {
        font-size: 18px;
        color: var(--cor0);
        padding-block: 16px;
    }

    .hero {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video#fundo-video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        object-fit: cover;
        z-index: -2;
    }

    .degrade {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250vh;
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        z-index: -1;
        pointer-events: none;
    }

    .conteudo {
        position: relative;
        z-index: 1;
        color: var(--cor3);
        text-align: center;
        font-family: var(--fonte-padrao);
        line-height: 1.5em;
    }

    .conteudo h1 {
        font-size: 35px;
        padding: 8px;
    }

    .conteudo h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .conteudo p {
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        line-height: 1.5em;
        font-size: 15px;
        color: var(--cor1);
        margin: auto;
    }

    .botao-laranja {
        display: inline-block;
        margin: 25px 0px 25px 0px;
        padding: 14px 24px;
        color: var(--cor3);
        border: 1px solid var(--cor3);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 6px;
        transition: all 0.3s ease;
    }

    .botao-laranja:hover {
        background-color: var(--cor1);
        box-shadow: 0px 0px 50px #d2d6d986;
        transform: scale(1.15);
    } 


    #sobre {
        padding: 0px 50px 50px 50px;
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        color: var(--cor3);
    }

    #sobre h2 {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
        font-family: var(--fonte-padrao);
    }

    div#info p {
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-size: 18px;
        font-style: normal;
        color: var(--cor1);
        line-height: 2em;
        margin-bottom: 40px;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    div#img-blob img {
        width: 100%;
        max-width: 700px;
        margin-top: 20px;
    }

    #estilos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: var(--cor3);
        background-color: black;
    }

    #estilos h2 {
        color: var(--cor3);
        font-size: 35px;
        margin-bottom: 10px;
        text-align: center;
        font-family: var(--fonte-padrao);
    }

    #estilos h3 {
        color: var(--cor3);
        font-size: 25px;
        margin: 5px 0px 0px 0px;
        text-align: center;
        font-family: var(--fonte-padrao);
    }

    .estilos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px; /* ou o tamanho que quiser */
        gap: 20px;
    }

    .estilos-container img {
        width: 250px;
        height: auto;
        border-radius: 10px;
        border: rgba(255, 255, 255, 0.26) 2px solid;
    }

    #estilos p {
        color: var(--cor1);
        font-size: 1em;
        margin: 2px 0px 10px 0px;
        text-align: center;
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }

    .carrossel-wrapper {
        position: relative;
        width: 100%;
        max-width: 1200px;
        overflow: hidden;
        margin: 0 auto;
    }

    .carrossel {
        display: flex;
        gap: 10px;
        padding: 10px 0;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }

    .carrossel img {
        flex: 0 0 auto;
        max-width: 100%;
        width: 250px;
        height: auto;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        scroll-snap-align: start;
        transition: transform 0.3s ease;
    }

    .carrossel img:hover {
        transform: scale(1.05);
        }

    .seta {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--cor1);
        color: var(--cor3);
        border: none;
        font-size: 20px;
        padding: 8px 12px;
        cursor: pointer;
        z-index: 2;
        border-radius: 5px;
    }

    .seta.esquerda {
        left: -10px;
        top: 130px;
    }

    .seta.direita {
        right: -10px;
        top: 130px;
    }

    .indicadores {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        gap: 8px;
    }

    .indicadores span {
        width: 12px;
        height: 12px;
        background: rgba(255,255,255,0.4);
        border-radius: 50%;
        display: none;
        cursor: pointer;
        transition: background 0.3s;
    }

    .indicadores span.ativo {
        background: var(--cor1);
    }


    #duvidas {
        color: var(--cor3);
        background-color: black;
        padding: 80px 0px 0px 0px;
    }

    #duvidas h2 {
        font-size: 35px;
        font-family: var(--fonte-padrao);
        text-align: center;
    }

    #duvidas h3 {
        font-size: 20px;
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        text-align: center;
        color: var(--cor1);
    }

    #como-funciona {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .etapa {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
    }

    .material-symbols-outlined {
        font-size: 28px;
        flex-shrink: 0;
    }

    .texto h4 {
        font-size: 18px;
        margin-bottom: 4px;
        font-family: var(--fonte-padrao);
        font-weight: bold;
        color: var(--cor1);
    }

    .texto p {
        font-size: 16px;
        line-height: 1.4em;
        font-weight: 200;
        font-family: var(--fonte-segundaria);
        color: var(--cor1);
    }

    #duvidas-frequentes {
        padding: 40px 40px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .duvida {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
    }

    .duvida-texto h4 {
        font-size: 18px;
        margin-bottom: 4px;
        font-family: var(--fonte-padrao);
        font-weight: bold;
        color: var(--cor1);
    }

    .duvida-texto p {
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        padding: 25px 0px 25px 0px;
        color: var(--cor1);
    }

    #avaliacoes {
        color: var(--cor3);
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: black;
    }

    #avaliacoes h2 {
        font-size: 20px;
        font-family: var(--fonte-padrao);
        text-align: center;
        padding: 15px 0px 0px 0px;
        color: var(--cor3);
    }

    #avaliacoes .descricao {
        font-family: var(--fonte-segundaria);
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        text-align: center;
        padding: 0px 0px 40px 0px;
        color: var(--cor1);
    }

    .avaliacao {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .avaliacao .estrela {
        font-family: "Material Symbols Outlined";
        color: var(--cor1);
        margin: 10px 15px;
        padding: 0px;
        display: block;
    }

    .avaliacao p {
        padding: 0px 20px 20px 20px;
        font-family: var(--fonte-segundaria);
        color: var(--cor1);
    }

    .avaliacao span {
        font-family: var(--fonte-padrao);
        font-size: 18px;
        font-weight: bold;
        padding: 0px 0px 0px 20px;
    }

    .avaliacao .cargo {
        font-family: var(--fonte-segundaria);
        font-weight: 200;
    }

    .avaliacao .cargo {
        font-style: italic;
    }

    #linktree {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background-color: black;
        color: var(--cor1);
    }

    .linktree-card {
        background-color: var(--cor0);
        padding: 30px 20px 5px 20px;
        border-radius: 20px;
        width: 100%;
        max-width: 360px;
        text-align: center;
        border: 1px solid var(--cor1);
    }

    .linktree-card img {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    #studio-video {
        width: 270px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        border: 2px solid var(--cor1);
         margin: 0 auto 20px auto;
    }

    .linktree-card h2 {
    font-family: var(--fonte-padrao);
    color: var(--cor1);
    margin-bottom: 2px;
    font-size: 25px;
    }

    .linktree-card p {
    font-family: var(--fonte-segundaria);
    color: var(--cor3);
    margin-bottom: 20px;
    font-size: 20px;
    }

    .link-btn {
    position: relative;
    display: block;
    background-color: var(--cor1);
    color: var(--cor1);
    padding: 14px 20px;
    border-radius: 50px;
    margin-bottom: 12px;
    font-family: var(--fonte-segundaria);
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
    }

    .link-btn .material-symbols-outlined {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: var(--cor3);
    }

    .linktree-card .link-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: var(--cor1);
        color: var(--cor3);
        padding: 14px;
        border-radius: 50px;
        margin-bottom: 12px;
        font-family: var(--fonte-segundaria);
        font-weight: 600;
        font-size: 16px;
        transition: 0.3s;
    }

    .linktree-card .link-btn:hover {
        background-color: var(--cor1);
        transform: scale(1.05);
    }

    #icons-rodape {
        color: var(--cor3);
    }

    .icons-rodape {
        width: 40px;
        
    }

    .footer-container {
        background-color: var(--cor1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 10px;
    }

    .footer-links a {
        color: var(--cor3);
        font-family: var(--fonte-segundaria);
        font-weight: 600;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    .footer-info {
        color: var(--cor3);
        font-family: var(--fonte-segundaria);
        font-weight: 300;
        text-align: center;
    }

    .footer-social a {
        color: var(--cor3);
    }

    #scrollTopBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--cor1);
        color: var(--cor3);
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 24px;
        cursor: pointer;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 1000;
        transition: transform 0.3s ease;
    }

    #scrollTopBtn:hover {
        transform: scale(1.1);
        background-color: var(--cor3);
        color: var(--cor1);
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.5s ease;
        
    }

/* ===== TABLET (>= 768px) ===== */
@media (max-width: 768px) {

    .hamburger {
        display: none;
        border: none;
        background: none;
        border-top: 3px solid var(--cor0);
        cursor: pointer;
    }

    .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: var(--cor0);
        margin-top: 5px;
        position: relative;
        transition: 0.3s
    }

    .hamburger {
        display: block;
        z-index: 1;
    }
    
    .nav-list {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--cor1);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: center;
        gap: 70px; 
        align-items: center;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.5s 1s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
        z-index: 10;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}